
.Good{
text-align: center;
font-family: 'Montserrat', sans-serif;
color:#fff;
font-size:45px;
}
.codepravtitle{
font-family: "Fjalla One";
text-align: center;
color:dimgray;
font-size:40px;
height:500px;
}

.slide1{
float:left:
width:100px;
margin-left: 140px;
float:left;
}
a .fa{
color:dimgray;
}
.intro{
background-image: url(../images/bg.jpg);
margin: 0;
padding: 0;
    
}
body{
margin: 0;
padding: 0;
}

.about{
    background-color: aquamarine;
}
a:hover{
    cursor: pointer;
}


.textright{
font-family: 'Alegreya Sans', sans-serif;
text-align: center;  
color:#fff;
margin-right: 100px;
width:30%;
float:right;
font-size: 20px;
font-size: 20px;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Raleway', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.about {
    background-color: #4CAF50;
}